* {
    box-sizing: border-box;
}
body {
    font-size: x-large;
    text-align: center;
    margin: 5%;
}
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.5em;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    margin-top: 20px;
}
@media (min-width: 600px) {
    body {
        background-color: aliceblue;
        font-size: large;
        margin: 2% 9%;
    }
    figure {
        float: left;
        margin: 2%;
        width: 45%;
    }
}

@media (min-width: 1000px) {

    body {
        background-color: rgb(212, 212, 212);
        font-size: medium;
        margin: 20px 20%;
        max-width: 1000px;
    }
    figure {
        float: left;
        margin: 5%;
        width: 40%;
    }   
}

/* 
Agora você vai ajustar o CSS para melhorar a visualização da página.
Realize as seguintes tarefas:
1 - Faça o tamanho da fonte ser maior;
2 - Faça o tamanho da fonte dos elementos h1 ser menor;
3 - Aumente o espaçamento entre as figuras;
4 - Adicione um pouco de margin na página.
5 - Guarde a largura da tela no ponto que você identificou que o layout atual não funcionou bem (por exemplo 800px) . Esse será o primeiro breakpoint do layout . Um breakpoint é apenas um ponto onde estamos definindo que o design atual deve mudar;
6 - Crie uma media query no seu arquivo CSS , usando a dimensão em pixels que você guardou como o min-width do teste da media query . Dentro desse breakpoint , adicione os seguintes ajustes:

    Altere a cor de fundo (isso vai te ajudar a perceber quando a media query teve efeito) ;
    Ajuste o tamanho da fonte;
    Ajuste as margens da página;
    Faça as imagens serem mostradas em duas colunas.

7 - Agora, você vai criar outro breakpoint para telas grandes. Redimensione sua tela de novo para encontrar um novo breakpoint .
8 - Crie uma nova media query no seu arquivo CSS usando a dimensão que você encontrou para telas grandes (por exemplo 1300px) , e realize os seguintes ajustes dentro do breakpoint :

    Altere a cor de fundo;
    Ajuste o tamanho da fonte;
    Ajuste as margens da página;
    Adicione a propriedade max-width à página, para garantir que a largura das linhas não fique muito grande.
 */